<?xml version="1.0" encoding="UTF-8"?>
<!-- - DispatcherServlet application context for the web tier. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.wiki.poc" />
		
	<bean id="accountRepository" class="com.wiki.poc.repository.StaticMapAccountRepository" />
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />
		
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

	<bean name="add.do" class="com.wiki.poc.controller.AddAccountFormController" p:repository-ref="accountRepository" />
	<bean name="upload.do" class="com.wiki.poc.controller.FileUploadController" p:repository-ref="accountRepository"/>			
    <bean name="updateinput.do" class="com.wiki.poc.controller.UpdateInputAccountController" p:repository-ref="accountRepository" />	
	<bean name="update.do" class="com.wiki.poc.controller.UpdateAccountController" p:repository-ref="accountRepository" />
 
 	<!-- Register the Customer.properties -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="message" />
	</bean>
	
</beans>